/* Universal application styles*/
.ember-application {
  min-width: 1045px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fefefe;
}

* {
  font-family: 'Open Sans';
}

a {
  color: #009;
}
.link:hover {
  cursor: pointer;
}
.active {
  color: #fc0 !important;
}
.clearfix {
  clear: both;
}
.nav_container {
  width: 95%;
  padding: 0px 10px 0px 10px;
  margin: 0px auto 0px auto;
}
#application {
  background-color: #f9f9f9;
}
.container {
  width: 865px;
  margin: 0px auto 0px auto;
}
.header {
  width: 863px;
  height: 300px;
  background-image: url('../images/main_header.png');
}
h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  padding: 0px;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.sort-button {
  border: 1px solid #aaa;
  padding: 8px;
  margin-bottom: 15px;
  background-color: #fff;
  color: #2778bf;
}
.sort-button:hover {
  color:#fff;
  background-color: #87b8ef;
}



/*Universal sub-page styles*/
.header-text-1 {
  color: #090;
}

/**
#2778bf
#f0f0f0
#f9f9f9

#e64e21
#fc0

**/


/*Navigation styles*/
#navigation {
  min-width: 1000px;
  padding: 17px 0px 20px 0px;
  background-color: #2778bf;
}
#navigation h1 {
  color: #fff;
  font-family: 'Poiret One';
  margin: 0px;
  padding: 0px;
  float: left;
  font-size: 30px;
  background-image: url('../images/moon-300x296.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 0px 3px;
  padding-left: 40px;
}
#navigation h1:hover, #navigation li:hover {
  -webkit-transition: color .5s;
  transition: color .5s;
  -moz-transition: color .5s;
  color: #fc0;
}
#navigation h1.active:hover {
  -webkit-transition: none !important;
  background-position: 0px !important;
}
#navigation h2 {
  margin: 11px 0px 0px 10px;
  padding: 0px;
  float: left;
  font-size: 16px;
}
#navigation h2 a {
  color: #ddd;
  font-family: 'Poiret One';
  text-decoration: none;
  font-weight: 100;
}
#navigation h2 a:hover {
  -webkit-transition: color .5s;
  transition: color .5s;
  -moz-transition: color .5s;
  color: #fc0;
}
#navigation ul {
  margin: 10px 0px 0px 0px;
  padding: 0px;
  float: right;
}
#navigation li {
  list-style: none;
  float: left;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans';
  font-weight: 100;
  padding: 0px;
  margin: 0px 20px 0px 0px;
}
#navigation .li-last {
  margin-right: 0px;
}


/*Footer styles*/
#footer {
  background-color: #2778bf;
  padding: 20px 0px 20px 0px;
}
#footer h3 {
  color: #ccc;
  font-size: 20px;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}
#footer ul {
  width: 640px;
  margin: 20px auto 0px auto;
}
#footer ul li {
  list-style: none;
  font-size: 17px;
  font-weight: 100;
  margin: 0px 10px 0px 0px;
  float: left;
}
#footer ul .li-last {
  margin: 0px 0px 0px 0px;
}
#footer p {
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  color: #fff;
  margin: 20px 0px 5px 0px;
}


/*Main styles*/
#main {
  margin: 0px 0px 20px 0px;
  padding: 20px 0px 20px 0px;
  background-color: rgb(235,235,235);
}
#main h2 {
  font-size: 22px;
  font-family: 'Open Sans';
  color: #2778bf;
  font-weight: 400;
}
#main h3 {
  font-size: 19px;
  font-family: 'Open Sans';
  font-weight: 400;
  margin: 15px 0px 15px 0px;
}
#main .link {
  color: #e67e22;
}



/*Header styles*/
#header {
  padding: 80px 0px 20px 0px;
}
#header h2 {
  font-family: 'Open Sans';
  font-weight: 100;
  font-size: 30px;
  color: #2778bf;
}
#header .logo {
  background-image: url('../images/moon-300x296.png');
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 40px;
}
