/*NAVIGATION*/
/*#main-menu-links li a*/

#nav {
	width: 140px;
	margin: 0px 20px 0px 0px;
	float: left;
}
.region-navigation ul li {
	font-family:'Open Sans';
	font-size: 25px;
	margin: 0px 0px 10px 0px;
	display: block;
	border: 1px solid #0ae;
	padding: 10px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
}
.region-navigation ul li a {
	text-decoration:none;
    transition:color .2s;
    -webkit-transition:color .2s;
    -moz-transition:color .2s;
    -o-transition:color .2s;
    -ms-transition:color .2s;  
    color: #0cf;
}
.region-navigation ul li .active {
	color: #03d;
}
.region-navigation ul li a:hover {
	color: #03d;
} 


/*site administration*/
#block-system-management .content {
	border-top: 1px solid #aaa;
	padding-top: 3px;
}

.whos_online p {
	display: none;
}
.whos_online ul li {
	font-size: 14px;
}
.whos_online ul li a {
	color: #aaa;
}


/*Sidebar element styling*/
.region-navigation h2 {
	font-family: 'Lato';
    font-size: 22px;
    font-weight: 300;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
	background-color: #0ae;
	color: #fff;
}

.region-navigation h3 {
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 100;
	color: #03d;
	margin: 5px 0px 5px 0px;
	padding: 0px 0px 10px 0px;
}
.region-navigation h3 a {
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 100;
	color: #03d;
}
.region-navigation h3 a:hover {
	color:#08c;
}


/*Absent styling*/
#block-block-5 p {
	font-size: 17px;
}

/*workload styling*/

#workload_block p {
	font-family: 'Lato';
	font-size: 17px;
}

