<!DOCTYPE html>
<html>
<head>
  <title>Rails App 2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= javascript_include_tag "application" %>
  My first rails app!
</body>
</html>
