<ul>
  {{#link-to 'index' tagName='li' class='link'}}Home{{/link-to}}
  {{#link-to 'about' tagName='li' class='link'}}About{{/link-to}}
  {{#link-to 'news' tagName='li' class='link'}}News{{/link-to}}
  {{#link-to 'contact' tagName='li' class='link'}}Contact{{/link-to}}
  {{#link-to 'login' tagName='li' class='link'}}Login{{/link-to}}
  <div class='clearfix'></div>
</ul>
