<ul>
  {{#link-to 'students.dashboard' tagName='li' class='link'}}Dashboard{{/link-to}}
  {{#link-to 'students.classes' tagName='li' class='link'}}Classes{{/link-to}}
  {{#link-to 'students.settings' tagName='li' class='link'}}Settings{{/link-to}}
  {{#link-to 'logout' tagName='li' class='link'}}Logout{{/link-to}}
  {{#link-to 'students.help' tagName='li' class='link'}}Help{{/link-to}}
  <div class='clearfix'></div>
</ul>
