<div class='container'>
  <div id='header'>

    <div class='logo'></div>
    <div id='header_text'>
      <h2>Web Development, App Development and Consulting</h2>
      <p>We work through the night so that you don&#39;t have to.</p>
    </div>
    <p>Websites that work. {{#link-to tagName='a' class='link actve'}}Get a quote{{/link-to}}</p>

  </div>
</div>
<div id='main'>
  <div class='container'>
    <h2>Development Consulting Services for Individuals and Small Businesses</h2>
    <!--<h3>Website Design for Small Businesses</h3>-->

    {{#link-to 'contact' tagName='h3' class='link'}}Competitive Prices, Professional Results{{/link-to}}
    <p>Providing professional website design and development at {{#link-to 'contact' tagName='a' class='link'}}competitive prices{{/link-to}}</p>
  </div>
</div>
