<div class='container'>
  <div id='header'>

    <div id='header_text'>
      <h2>Login to Lionworxs</h2>
    </div>

  </div>
</div>
<div id='main'>
  <div class='container'>
    <p class='header-text-1'>To login to your Lionworxs portal, please select what type of user you are.</p>
    <p>Who are you?</p>
    {{view Ember.Select
      content=user_types
      optionValuePath="content.cr"
      optionLabelPath="content.hr"
      value=selected_type
      classNames="reg-button"
    }}
    <br />
    <button {{action login}} class="reg-button">Login</button>

  </div>
</div>
