<div class='container'>
  <div id='header'>

    <div id='header_text'>
      <h2>Logging Out...</h2>
    </div>

  </div>
</div>
<div id='main'>
  <div class='container'>
    <p class='header-text-1'>This may take a few seconds...</p>
  </div>
</div>
