<div class='nav_container'>
  {{#link-to 'index' tagName='h1' class='link'}}Lionworxs{{/link-to}}
  <h2><div class="sub"><a href='http://www.nocturnalcreative.com' target="_blank">A Nocturnal company</a></div></h2>

  {{partial "navigation"}}

  <div class='clearfix'></div>
</div>
