<div class='container'>
  <div id='header'>

    <div id='header_text'>
      <h2>New with Lionworxs</h2>
    </div>

  </div>
</div>
<div id='main'>
  <div class='container'>

    <p class='header-text-1'>Nocturnal Creative works hard to stay current with the latest technologies in order to provide the best possible results for our customers.</p>
  </div>
</div>
